/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvgCropper {
  display: block;
  margin: 5px auto 15px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(26, 136, 112, 0.15);
  transition: all 0.3s ease-in-out;
}

.featureSvg {
  height: 100%;
  width: 100%;
}

.featureSvgCropper:hover {
  box-shadow: 0 0 20px rgba(26, 136, 112, 0.6);
  width: 210px;
  height: 210px;
  margin: 0 auto 10px auto;
}